p
{
color:red;
font-size:1cm;
}
A.duzy
{
font-size:24pt;
text-decoration:none;}
A.duzy:link
{
color:navy;
}
A.duzy:visited
{
color:green;
}
A.duzy:hover
{
color:blue;
text-decoration:line
}
A.maly
{
font-size: 18pt;
}
A.maly:link
{
color:silver;;
}
A.maly:visited
{
color:red;
}
A.maly:hover
{
color:blue;
text-decoration:none;
}
A:active
{
color:silver;
}
/*Miroński Paweł, klasa 3Fgrupa2 data spr 17.05.2023*/